# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build files
build/
dist/
*.spec

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment files
.env
.venv

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary outputs
installer_output/
*.log
*.csv
*.png
*.pdf
mrac_results/
.ipynb_checkpoints/

# Windows specific
Thumbs.db
Desktop.ini

# LaTeX & Extraction temp files
*.aux
*.out
*.toc
jurnal_fig_*.jpeg
jurnal_fig_*.png
extract_imgs.py
installer.iss
laporan_validasi_step.fdb_latexmk
laporan_validasi_step.fls
laporan_validasi_step.synctex.gz
laporan_validasi_step.tex
pdf_text.md
test_vtk.py
output
